[submodule "mkdocs_obsidian_publish"]
	path = mkdocs_obsidian_publish
	url = git@github.com:Mara-Li/mkdocs_obsidian_publish.git
	branch = main
[submodule "mkdocs_obsidian_template"]
	path = mkdocs_obsidian_template
	url = git@github.com:Mara-Li/mkdocs_obsidian_template.git
	branch = main
